extends layout.pug

block content
    h1
        a.home-link(href='/books') Books
    .menu
        p.menu-item
            a.button(href='/books/new') Create New Book
        form.menu-item(action='/books' method='get')
            label.search(for='search')
                input#search(placeholder='Search' name='q')
                button(type='submit') 🔍
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in allBooks
                tr
                    td
                        a(href='/books/' + book.id)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year